.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.options{
  list-style: none;
  display: flex;
  margin: 1.2rem 0;
}
.options li{
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.options li:hover{
  cursor: pointer;
  color: rgb(216, 88, 88);
}


.list {
  background: rgba(231, 224, 224, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -10px 16px rgba(73, 73, 73, 0.2);
}

@media (min-width: 40rem) {
  .list {
    align-self: center;
  }
}

.wrapper {
  width: 10rem;
  height: 10rem;
  padding: 1.2rem;
  font-size: 0.4rem;

  transform: scale(0.9);
}

.wrapper:hover {
  cursor: pointer;
  transform: translateY(-2rem);
  transition: transform 0.4s ease-out;
}
