.clock {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin: 4rem auto;
  position: relative;
  padding: 1.6rem;
  -webkit-box-shadow: 0 20px 30px rgba(104, 75, 106, 0.65);
  -moz-box-shadow: 0 20px 30px rgba(104, 75, 106, 0.65);
  box-shadow: 0 20px 30px rgba(104, 75, 106, 0.65);
  background: #545271;
}

@media (min-width: 40rem) {
  .clock {
    width: 20rem;
    height: 20rem;
  }
}

.outer_clock_face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  -webkit-box-shadow: 0 20px 10px rgba(62, 47, 63, 0.45);
  -moz-box-shadow: 0 20px 10px rgba(62, 47, 63, 0.45);
  box-shadow: 0 20px 10px rgba(62, 47, 63, 0.45);
  overflow: hidden;
}

.outer_clock_face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.outer_clock_face::before,
.outer_clock_face::after,
.outer_clock_face .marking {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #b8b8c5;
  z-index: 0;
  left: 49%;
}

.outer_clock_face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer_clock_face .marking.marking_one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

.outer_clock_face .marking.marking_two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.outer_clock_face .marking.marking_three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
}

.outer_clock_face .marking.marking_four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}

.inner_clock_face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fefefc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner_clock_face::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour_hand {
  width: 20%;
  z-index: 3;
}

.hand.min_hand {
  height: 3px;
  z-index: 10;
  width: 35%;
}

.hand.second_hand {
  background: #ff5e5e;
  width: 40%;
}
